<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/inicio.css">
    <title>Carógrafo</title>
</head>
<body>

    <header id="header"> <!--Inicio Navbar-->
        <div class="container"> <!--Container-->

            <div class="flex"> <!--Flex-->

                <a href="https://www.cefetmg.br/" target="_blank"><img src="/public/img/LogoCefete100x100.png" alt=""></a>
            
                <div class="btn-ola" id="btnOla">
                <button id="botao-header">
                    Olá,<span> USUÁRIO </span>
                    <i class="fa-solid fa-chevron-up seta-icon"></i>
                </button>

                <div class="dropdown-menu" id="dropdownMenu">
                    <a href="#" id="botao-sair">Sair</a>
                </div>
            </div>

            </div> <!--/Flex-->

        </div> <!-- /Container -->
    </header> <!--Fim Navbar-->

    <section class="banner"> <!--Principal-->

    <!-- Barra de Pesquisa -->
                <div class="barrapesquisa">
                    <div class="mb-6">
                        <form action="paginaPrincipal.html" method="get" class="max-w-2xl mx-auto">
                            <label for="default-search"
                                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>
                                <input type="search" id="default-search"
                                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white
                                    focus:ring-blue-500 focus:border-blue-500 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 
                                    dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="Buscar por nome, matrícula ou turma..." required />
                                <button type="submit"
                                    class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Fim da Barra de Pesquisa -->

    </section> <!--Fim do conteudo principal-->

    <!--Inicio Footer-->
    <footer class="footer">
  <div class="footer-container">

        <div class="footer-logo">
            <img src="/public/img/logotipo.png" alt="Logo CEFET-MG">
            <span><a href="https://www.cefetmg.br/" target="_blank" class="logo-link">Cefet-MG</a></span>
        </div>

        <ul class="footer-links">
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="politicaPrivacidade.html">Política de Privacidade</a></li>
            <li><a href="duvidas.html">Dúvidas</a></li>
            <li><a href="alunosDevs.html">Alunos Desenvolvedores</a></li>
        </ul>
    </div>

    <hr/>

        <div class="footer-copy">
            <span>© 2025 Cefet-MG™. Todos os Direitos Reservados.</span>
        </div>
    </footer>
    <!--Fim Footer-->

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="script.js"></script>
</body>
</html>