<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/sobre.css">
    <title>Sobre</title>
</head>
<body>


    <section class="banner">
        <div id="topo">
            <h1>Política de Privacidade</h1>
            <a href="paginaPrincipal.html" class="botao-voltar">Voltar para a Página Principal</a>
        </div>

        <h2>Coleta de Dados</h2>
        <p>O site não solicita nem registra nenhuma informação pessoal dos usuários. Nenhum tipo de formulário de contato, login, ou inscrição está presente neste projeto.</p>

        <hr>

        <h2>Cookies</h2>
        <p>Este site não utiliza cookies próprios nem de terceiros.</p>

        <hr>

        <h2>Links Externos</h2>
        <p>Podem existir links para sites externos, como o site oficial do CEFET-MG. Ao clicar nesses links, o usuário será direcionado para páginas fora do nosso controle, sujeitas às próprias políticas de privacidade dessas instituições.</p>

        <hr>

        <h2>Alterações</h2>
        <p>Esta política pode ser alterada conforme o projeto for evoluindo. Mudanças serão publicadas nesta página.</p>

        <hr>

        <h2>Contato</h2>
        <p>Em caso de dúvidas sobre esta política, entre em contato com os desenvolvedores do projeto.</p>

    </section>

    <footer class="footer">
        <div class="footer-container">

            <div class="footer-logo">
                <img src="/public/img/logotipo.png" alt="Logo CEFET-MG">
                <span><a href="https://www.cefetmg.br/" target="_blank" class="logo-link">Cefet-MG</a></span>
            </div>

            <ul class="footer-links">
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="politicaPrivacidade.html">Política de Privacidade</a></li>
                <li><a href="duvidas.html">Dúvidas</a></li>
                <li><a href="alunosDevs.html">Alunos Desenvolvedores</a></li>
            </ul>
        </div>

    <hr/>

        <div class="footer-copy">
            <span>© 2025 Cefet-MG™. Todos os Direitos Reservados.</span>
        </div>
    </footer>
</body>
</html>