<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Sobre</title>
</head>
<body>


    <section class="banner">
        <div id="topo">
            <h1>Sobre</h1>
            <a href="paginaPrincipal.html" class="botao-voltar">Voltar para a Página Principal</a>
        </div>

        <h2>O que é o Carógrafo</h2>
            <p>O Carógrafo é um sistema desenvolvido para facilitar a visualização e a organização de informações sobre os alunos do CEFET-MG.
            A plataforma permite acessar rapidamente dados como nome, turma, curso e foto dos estudantes, com uma interface simples, intuitiva e funcional.
            </p>

            <hr>

        <h2>Objetivo do Projeto</h2>
            <p>O objetivo principal do Carógrafo é substituir os antigos quadros físicos e arquivos estáticos por uma solução digital mais eficiente, acessível e moderna.
            Com isso, buscamos oferecer uma ferramenta útil tanto para alunos quanto para professores e coordenação.
            </p>

            <hr>

        <h2>Funcionalidades principais</h2>
        <ul class="lista">
            <li>Listagem de alunos com foto e dados básicos</li>
            <li>Sistema de busca por nome</li>
            <li>Paginação para facilitar a navegação</li>
            <li>Interface responsiva (adaptada para celular e computador)</li>
            <li>Integração com dados dinâmicos (futuramente via API)</li>
        </ul>

        <hr>

        <h2>Desenvolvimento</h2>
            <p>O projeto foi desenvolvido como parte do Trabalho de Conclusão de Curso (TCC) do curso técnico de Informática para Internet do CEFET-MG.
            Utilizamos tecnologias como HTML, CSS, Tailwind CSS e JavaScript para a construção da interface e lógica do sistema.
            </p>
              
    </section>

    <footer class="footer">
        <div class="footer-container">

            <div class="footer-logo">
                <img src="/img/logotipo.png" alt="Logo CEFET-MG">
                <span><a href="https://www.cefetmg.br/" target="_blank" class="logo-link">Cefet-MG</a></span>
            </div>

            <ul class="footer-links">
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="politicaPrivacidade.html">Política de Privacidade</a></li>
                <li><a href="duvidas.html">Dúvidas</a></li>
                <li><a href="alunosDevs.html">Alunos Desenvolvedores</a></li>
            </ul>
        </div>

    <hr/>

        <div class="footer-copy">
            <span>© 2025 Cefet-MG™. Todos os Direitos Reservados.</span>
        </div>
    </footer>
</body>
</html>